<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ScentbirdTests">

    <test name="ScentbirdTest">
        <parameter name="browser" value="chrome"/>
        <classes>

            <!--<class name="com.scentbird.testCases.Sub12MonthTest_001"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_002"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_003"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_004"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_005"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_006"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_007"/>
            <class name="com.scentbird.testCases.Sub12MonthTest_008"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_009"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_010"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_011"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_012"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_013"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_014"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_015"/>
            <class name="com.scentbird.testCases.Sub6MonthTest_016"/> -->
            <class name="com.scentbird.testCases.Sub3MonthTest_017"/>
            <!-- <class name="com.scentbird.testCases.Sub3MonthTest_018"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_019"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_020"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_021"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_022"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_023"/>
            <class name="com.scentbird.testCases.Sub3MonthTest_024"/> -->

        </classes>
    </test>
</suite>